name: Dependency Submission

on:
  push:
    branches: [ master ]

permissions:
  contents: write

jobs:
  submit-dependencies:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Generate and submit dependency graph
      uses: mikepenz/gradle-dependency-submission@v1
      with:
        gradle-build-module: |-
          :
